<form nz-form [formGroup]="SubFromGroup">
  <ng-container *ngFor="let i of paras">
    <nz-form-item *ngIf="getIsShow(i)">
      <nz-form-label [nzSpan]="8" [nzRequired]="getRequired(i)">
        <ng-container *ngIf="isAdds;else templateName"><label nz-checkbox [nzChecked]="handleIsParaChecked(i.key)"
            (nzCheckedChange)="handleIsParaChange($event, i.key)">{{i.name}}</label>
        </ng-container>
        <ng-template #templateName>
          <span>{{i.name}}</span>
        </ng-template>
      </nz-form-label>
      <!-- number -->
      <nz-form-control [nzSpan]="9" [nzErrorTip]="getEorrorTip(i)">
        <ng-container [ngSwitch]="i.tpe">
          <ng-container *ngSwitchCase="1">
            <nz-input-number nz-tooltip [nzTooltipTitle]="getPlaceHolder(i)" [formControlName]="i.key"
              [nzMin]="getMin(i)" [nzMax]="getMax(i)" [nzStep]="1" [nzPlaceHolder]="getPlaceHolder(i)">
            </nz-input-number>
          </ng-container>
          <!-- string -->
          <ng-container *ngSwitchCase="2">
            <input nz-input nz-tooltip [nzTooltipTitle]="getPlaceHolder(i)" [formControlName]="i.key"
              [placeholder]="getPlaceHolder(i)">
          </ng-container>
          <!-- boolean -->
          <ng-container *ngSwitchCase="3">
            <nz-switch nz-tooltip [nzTooltipTitle]="getPlaceHolder(i)" [formControlName]="i.key"></nz-switch>
          </ng-container>
          <!-- time -->
          <ng-container *ngSwitchCase="4">
            <nz-time-picker nz-tooltip [nzTooltipTitle]="getPlaceHolder(i)" [formControlName]="i.key"
              nzPlaceHolder="请选择时间" ngDefaultControl></nz-time-picker>
          </ng-container>
          <!-- dateTime -->
          <ng-container *ngSwitchCase="5">
            <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzPlaceHolder="请选择日期时间" nz-tooltip
              [nzTooltipTitle]="getPlaceHolder(i)" [formControlName]="i.key" ngDefaultControl>
            </nz-date-picker>
          </ng-container>
          <!-- stringList -->
          <ng-container *ngSwitchCase="6">
            <form [formGroupName]="i.key">
              <nz-form-item>
                <nz-form-label nzRequired>是否随机</nz-form-label>
                <nz-form-control nzErrorTip="请选择是否随机">
                  <nz-switch nz-tooltip formControlName="isRandom" nzCheckedChildren="是" nzUnCheckedChildren="否">
                  </nz-switch>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item *ngIf="SubFromGroup.get(i.key).get('isRandom').value">
                <nz-form-label nzRequired>随机数</nz-form-label>
                <nz-form-control nzErrorTip="请输入随机次数">
                  <nz-input-number nz-tooltip [nzTooltipTitle]="'请输入随机次数'" formControlName="randomTime" [nzMin]="0"
                    [nzStep]="1" [nzPlaceHolder]="'请输入随机次数'"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzErrorTip]="getEorrorTip(i)" nz-row>
                  <textarea nz-input [nzAutosize]="true" [formControl]="SubFromGroup.get(i.key).get('list')"
                    [placeholder]="getPlaceHolder(i)" nz-tooltip [nzTooltipTitle]="getPlaceHolder(i)"></textarea>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired>分隔符</nz-form-label>
                <nz-form-control nzErrorTip="请选择分隔符">
                  <nz-select nzPlaceHolder="请选择分隔符" formControlName="spiltType"
                    (ngModelChange)="handleSpiltChange($event,i.key)" [nzDisabled]="handleGetSpiltTypeDis(i.key)">
                    <nz-option *ngFor="let item of spiltList" [nzLabel]="item.value" [nzValue]="item.key">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item *ngIf="SubFromGroup.get(i.key).get('spiltType').value === 2">
                <nz-form-label nzRequired>分隔符</nz-form-label>
                <nz-form-control nzErrorTip="请输入分隔符">
                  <input type="text" nz-input formControlName="spilt">
                </nz-form-control>
              </nz-form-item>
            </form>
          </ng-container>
          <!-- numberList -->
          <ng-container *ngSwitchCase="7">
            <form [formGroupName]="i.key">
              <nz-form-item>
                <nz-form-label nzRequired>是否随机</nz-form-label>
                <nz-form-control nzErrorTip="请选择是否随机">
                  <nz-switch nz-tooltip formControlName="isRandom" nzCheckedChildren="是" nzUnCheckedChildren="否">
                  </nz-switch>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item *ngIf="SubFromGroup.get(i.key).get('isRandom').value">
                <nz-form-label nzRequired>随机数</nz-form-label>
                <nz-form-control nzErrorTip="请输入随机次数">
                  <nz-input-number nz-tooltip [nzTooltipTitle]="'请输入随机次数'" formControlName="randomTime" [nzMin]="0"
                    [nzStep]="1" [nzPlaceHolder]="'请输入随机次数'"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzErrorTip]="getEorrorTip(i)" nz-row>
                  <textarea nz-input [nzAutosize]="true" [formControl]="SubFromGroup.get(i.key).get('list')"
                    [placeholder]="getPlaceHolder(i)" nz-tooltip [nzTooltipTitle]="getPlaceHolder(i)"></textarea>
                </nz-form-control>
              </nz-form-item>
            </form>
          </ng-container>
          <!-- select -->
          <ng-container *ngSwitchCase="8">
            <nz-select nz-tooltip [nzTooltipTitle]="getPlaceHolder(i)" [formControlName]="i.key"
              [nzPlaceHolder]="getPlaceHolder(i)" nzAllowClear>
              <nz-option *ngFor="let item of i.values" [nzLabel]="item.key" [nzValue]="item.value">
              </nz-option>
            </nz-select>
          </ng-container>
          <!-- password -->
          <ng-container *ngSwitchCase="9">
            <app-password-input nz-tooltip [nzTooltipTitle]="getPlaceHolder(i)" [formControlName]="i.key"
              ngDefaultControl [placeholder]="getPlaceHolder(i)">
            </app-password-input>
          </ng-container>
          <!-- multiple-select -->
          <ng-container *ngSwitchCase="10">
            <nz-select nzMode="multiple" nz-tooltip [nzTooltipTitle]="getPlaceHolder(i)" [formControlName]="i.key"
              [nzPlaceHolder]="getPlaceHolder(i)" nzAllowClear>
              <nz-option *ngFor="let item of i.values" [nzLabel]="item.key" [nzValue]="item.value">
              </nz-option>
            </nz-select>
          </ng-container>
          <ng-container *ngSwitchDefault></ng-container>
        </ng-container>
      </nz-form-control>
      <div nz-col nzSpan="6" class="hint"
        *ngIf="(i.tpe == 6 && SubFromGroup.get(i.key)?.value?.spiltType === 1) || i.tpe===7">
        <span class="ant-btn-danger">一行一个数据</span>
      </div>
    </nz-form-item>
  </ng-container>
</form>
