.footer {
  text-align: center;
  margin-top: 50px;

  button {
    margin-right: 10px;
  }
}

h2,
.add,
.arrows {
  text-align: center;
}

.add button {
  border-radius: 50%;
}

/deep/.arrows {
  padding: 20px 0;

  svg {
    transform: scale(2);
  }
}

/deep/ .check-paras {
  margin-top: 20px;

  .ant-badge-count,
  .ant-badge-dot,
  .ant-badge .ant-scroll-number-custom-component {
    left: 0px;
    color: #333;
    right: unset;
    transform: translate(-50%, -50%);
  }

  .ant-tag {
    background: #333;
  }
}
