<h2>任务详情</h2>
<div class="detail">
  <nz-form-item>
    <nz-form-label nzSpan='8'>任务ID</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{checkData?.id}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <!-- <nz-form-item>
  <nz-form-label nzSpan='8'>执行用户</nz-form-label>
  <nz-form-control nzSpan="14">
    <nz-form-text>{{checkData?.account}}</nz-form-text>
  </nz-form-control>
</nz-form-item> -->
  <nz-form-item>
    <nz-form-label nzSpan='8'>任务起始时间</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{checkData?.startTime *1000 | date: 'yyyy/MM/dd HH:mm:ss'}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan='8'>任务结束时间</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{checkData?.endTime *1000 | date: 'yyyy/MM/dd HH:mm:ss'}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan='8'>登录方式</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{checkData?.loginType | loginType}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan='8'>商品价格</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{checkData?.product?.price}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan='8'>实际支付</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{checkData?.payPrice?.price}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan='8'>任务结果</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{getStartText(checkData?.status)}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-divider></nz-divider>
  <nz-form-item>
    <nz-form-label nzSpan='8'>账号</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{taskDetail?.account}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan='8'>密码</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{taskDetail?.pwd}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan='8'>优惠券</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{taskDetail?.coupons.join(',')}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan='8'>拉新URP</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{taskDetail?.url}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan='8'>收货地址</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{taskDetail?.address}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan='8'>商品ID</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{checkData?.product?.id}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="checkData?.status === 'success'">
    <nz-form-label nzSpan='8'>订单号</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-form-text>{{taskDetail?.orderId}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
</div>
