<h2>填写账号密码</h2>
<form nz-form [formGroup]="formGroup">
  <nz-form-item>
    <nz-form-label nzSpan="4" nzRequired>密码</nz-form-label>
    <nz-form-control nzSpan="20" nzErrorTip="请输入密码">
      <app-password-input formControlName="password" ngDefaultControl placeholder="请输入密码"></app-password-input>
    </nz-form-control>
  </nz-form-item>
</form>
<div class="footer">
  <button nz-button nzType="primary" (click)="submit()">确定</button>
</div>
<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="visible" [nzOkText]='null' (nzOnCancel)="onCancel()"
  [nzCancelText]="null" [nzFooter]="null" nzWidth="605px">
  <div>
    <h2>填写验证码</h2>
    <form nz-form [formGroup]="formGroup" (ngSubmit)="submit()">
      <div class="totp">
        <app-auth-code formControlName="totp" ngDefaultControl></app-auth-code>
      </div>
      <div class="footer">
        <button nz-button nzType="primary" (click)="submit()">确定</button>
      </div>
    </form>
  </div>
</nz-modal>
