<h2>开启验证</h2>
<div><strong>步骤1：请先下载【谷歌认证器】到您手机上安装</strong></div>
<div><strong>步骤2：添加安全认证信息</strong>
  <div>【方式1】打开【谷歌认证器】，找到扫码器，扫描二维码添加安全认证器</div>
  <div class="qr-code">
    <qr-code [value]="safetyInfo.qr"></qr-code>
  </div>
  <div>【方式2】手动复制下方文字到谷歌认证器中</div>
  <nz-form-item>
    <nz-form-label nzSpan="4">用户名</nz-form-label>
    <nz-form-control nzSpan="20">
      <span>{{safetyInfo.username}}</span>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="4">密钥</nz-form-label>
    <nz-form-control nzSpan="20">
      <span nz-typography nzCopyable [nzCopyText]="safetyInfo.sk">{{safetyInfo.sk}}</span>
    </nz-form-control>
  </nz-form-item>
</div>
<div><strong>步骤3：开启验证</strong>
  <div>请在下方及时输入认证器中当前显示的验证码</div>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>验证码</nz-form-label>
      <nz-form-control nzSpan="20" [nzErrorTip]="totpEorrorTip">
        <app-auth-code formControlName="totp" ngDefaultControl></app-auth-code>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div class="footer">
  <button nz-button nzType="primary" (click)="submit()">确定</button>
</div>
