<div class="run-task-title">
  <app-title (titleQuery)="handleQuery($event)" (titleReset)="handleReset()"></app-title>
  <span class="right-btn">
    <button nz-button class="ant-btn-success" (click)="handleOpenModal('open_add')">添加任务</button>
  </span>
</div>

<ng-container *ngIf="data?.arr?.length > 0; else elseTemplate">
  <nz-list nzTitle="计划运行任务：">
    <nz-list>
      <nz-list-item *ngFor="let d of data.arr">
        <nz-list-item-meta [nzTitle]="titleTem" [nzDescription]="descriptionTem">
          <ng-template #titleTem>
            <div nz-row>
              <div nz-col nzSpan="22">
                <strong><strong>{{d?.name}}</strong></strong>
                <!-- <button nz-button nzType="primary"
                  (click)="handleOpenModal('open_copy', d)">复制任务</button> -->
              </div>
              <div nz-col nzSpan="2">{{d?.taskStatus | dyStatus}}</div>
            </div>
          </ng-template>
          <ng-template #descriptionTem>
            <div nz-row>
              <div nz-col [nzOffset]="2" nzSpan="20" class="task-details">
                <div nz-row>
                  <div nz-col nzSpan="9">剧本名称：<strong>{{d?.script?.name}}</strong>
                    <button nz-button nzType="primary" (click)="handleOpenModal('open_play_detail', d)">查看详情</button>
                  </div>
                  <div nz-col nzSpan="6">主播id：<strong>{{d?.anchorId}}</strong></div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="9">剧本总时长：<strong>{{d?.script?.totalTime | dyFormattingTime}}</strong></div>
                  <div nz-col nzSpan="6">角色数：<strong>{{d?.script?.characterNumber}}</strong></div>
                  <div nz-col nzSpan="9">发言总数：<strong>{{d?.script?.commentNumber}}</strong></div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="9">开始进场时间：<strong
                      *ngIf="d?.deviceEnterTime">{{d.deviceEnterTime *1000 | date: 'yyyy年MM月dd日 HH:mm:ss' }}</strong>
                  </div>
                  <div nz-col [nzOffset]="6" nzSpan="9">开始剧本时间：<strong
                      *ngIf="d?.script">{{d.scriptStartTime *1000 | date: 'yyyy年MM月dd日 HH:mm:ss' }}</strong> </div>
                  <div nz-col nzSpan="9">
                    预计结束时间：<strong>{{getEndTime(d?.deviceEnterTime, d?.script?.totalTime) | date: 'yyyy年MM月dd日 HH:mm:ss'}}</strong>
                  </div>
                </div>
              </div>
              <div nz-col nzSpan="2">
                <ng-container *ngIf="d.taskStatus === TaskStatus.Running; else elseTemplate">
                  <div><button nz-button nzType="danger" [nzIcon]="iconTpl" nz-popconfirm
                      nzPopconfirmTitle="确定要终止任务吗？ 任务将不可恢复。" nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="handleTerminateTask(d.id)">终止任务</button></div>
                  <ng-template #iconTpl>
                    <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                  </ng-template>
                </ng-container>
                <ng-template #elseTemplate>
                  <div>
                    <ng-container *ngIf="d.taskStatus === TaskStatus.Pausing; else btnTemplate">
                      <button nz-button class="ant-btn-success" (click)="handleResumeTask(d.id)">恢复</button>
                    </ng-container>
                    <ng-template #btnTemplate>
                      <button nz-button class="ant-btn-warning" (click)="handlePauseTask(d.id)">暂停</button>
                    </ng-template>
                  </div>
                  <div><button nz-button nzType="primary" [disabled]="d.taskStatus !== TaskStatus.Pausing"
                      (click)="handleOpenModal('open_edit', d)">修改</button></div>
                </ng-template>
              </div>
            </div>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </nz-list>
  </nz-list>
  <div class="page">
    <nz-pagination [nzPageIndex]="params.curPage" [nzTotal]="data?.total" [(nzPageIndex)]="params.curPage"
      (nzPageIndexChange)="pageIndexChange($event)" [nzHideOnSinglePage]="true">
    </nz-pagination>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <nz-empty></nz-empty>
</ng-template>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="visible" [nzOkText]='null' (nzOnCancel)="onCancel()"
  [nzCancelText]="null" [nzFooter]="null" nzWidth="605px">
  <div [ngSwitch]="modalKey">
    <ng-container *ngSwitchCase="'open_add'">
      <app-add [playAll]="scriptsArr" [playDetails]="scriptsDetails"></app-add>
    </ng-container>
    <ng-container *ngSwitchCase="'open_edit'">
      <app-edit [data]="checkData" [isCopy]="isCopy" [playAll]="scriptsArr" [playDetails]="scriptsDetails"></app-edit>
    </ng-container>
    <ng-container *ngSwitchCase="'open_play_detail'">
      <app-details [selectItem]="checkData?.script" [data]="scriptsDetails"></app-details>
      <div class="footer">
        <button nz-button nzType="primary" (click)="onCancel()">确定</button>
      </div>
    </ng-container>
    <div *ngSwitchDefault></div>
  </div>
</nz-modal>
