<!-- title -->
<div class="task-title">
  <div class="input">
    <app-title (titleReset)="handleReset()" (titleQuery)="handleQuery($event)" [titleTemRef]="titleTem"></app-title>
    <ng-template #titleTem>
      <div>
        <nz-form-item>
          <nz-form-control [nzValidateStatus]="validateStatus.status" nzErrorTip="只有成功、失败可导出">
            <nz-select [(ngModel)]="params.status" nzPlaceHolder="任务状态" nzAllowClear
              (ngModelChange)="handleSelectChange('status')">
              <nz-option *ngFor="let item of taskStatus" [nzLabel]="item.value" [nzValue]="item.key">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div>
        <nz-form-item>
          <nz-form-control [nzValidateStatus]="validateStatus.taskTypeId" nzErrorTip="请选择任务类型">
            <nz-select [(ngModel)]="params.taskTypeId" nzPlaceHolder="任务类型" nzAllowClear
              (ngModelChange)="handleSelectChange('taskTypeId')">
              <nz-option *ngFor="let item of taskTypeArr?.arr" [nzLabel]="item.name" [nzValue]="item.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div>
        <nz-date-picker [nzShowTime]="nzDefaultOpenValue" [(ngModel)]="params.startTime1" nzPlaceHolder="请选择要查询开始时间"
          (ngModelChange)="handleTitleTimeChange()">
        </nz-date-picker>
      </div>
      <div>
        <nz-date-picker [nzShowTime]="nzDefaultOpenValue" [(ngModel)]="params.startTime2" nzPlaceHolder="请选择要查询结束时间"
          (ngModelChange)="handleTitleTimeChange()">
        </nz-date-picker>
      </div>
    </ng-template>
  </div>
  <div class="right-btn">
    <button nz-button class="ant-btn-success" (click)="handleOpenModal('open_add')">新建</button>
    <button nz-button class="ant-btn-success" (click)="handleOpenModal('open_adds')">批量新建</button>
  </div>
</div>

<div class="task-table">
  <nz-table #basicTable [nzData]="data?.arr" [nzTotal]="data?.total" [nzFrontPagination]="false"
    [(nzPageIndex)]="params.curPage" [(nzPageIndex)]="params.curPage" (nzPageIndexChange)="pageIndexChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)" [nzFooter]="tableFooter" [nzTitle]="tableTitle">
    <thead>
      <tr>
        <th nzWidth="4%">
          <div class="td-checked" (click)="handleCheckAll()">
            <div class="label-task">
              <label nz-checkbox [ngModel]="onCheckedAll"></label>
            </div>
            <div class="td-mask"></div>
          </div>
        </th>
        <th nzWidth="5%">任务ID</th>
        <th nzWidth="8%">任务名称</th>
        <th nzWidth="9%">任务类型</th>
        <th nzWidth="9%">创建时间</th>
        <th nzWidth="10%">设备</th>
        <th nzWidth="10%">执行方式</th>
        <th nzWidth="9%">执行时间</th>
        <th nzWidth="9%">状态</th>
        <th nzWidth="9%">结束时间</th>
        <th nzWidth="20%">
          <div *ngIf="checkData.length >0">
            <button *ngIf="handleIsShowbatchBtn([0])" appClickStop nz-button class="ant-btn-warning"
              (click)="handleExecuteTask()" nzSize="small">批量执行</button>
            <button *ngIf="handleIsShowbatchBtn([1])" nz-button class="ant-btn-warning" (click)="pauseTask()"
              nzSize="small">批量暂停</button>
            <button *ngIf="handleIsShowbatchBtn([5,3])" appClickStop nz-button class="ant-btn-warning"
              (click)="handleRunTask()" nzSize="small">批量重新运行</button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data" (click)="handleCheckItem(data)">
        <td>
          <div class="td-checked">
            <div class="label-task">
              <label nz-checkbox [ngModel]="data.checked"></label>
            </div>
            <div class="td-mask"></div>
          </div>
        </td>
        <td>{{data?.id}}</td>
        <td>{{data?.name}}</td>
        <td>{{data?.tpe?.name}}</td>
        <td>
          <div *ngIf="data?.createTime">{{data?.createTime * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</div>
        </td>
        <td>{{data?.runningDevice?.name}}
          <span [nzTooltipTitle]="deviceTem" nzTooltipPlacement="right" nz-tooltip>
            <i nz-icon nzType="menu" nzTheme="outline"></i>
          </span>
          <ng-template #deviceTem>
            <div><strong>可运行设备：</strong></div>
            <div *ngFor="let i of data?.bindDevices">
              <div>{{i.name}}</div>
            </div>
          </ng-template>
        </td>
        <td>
          <div>{{ data?.executeMethod | loginExecute}}</div>
          <div *ngIf="data?.executeMethod === 3">
            {{data?.scheduledTime * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
          </div>
        </td>
        <td>
          <div *ngIf="data?.startTime">
            {{data?.startTime * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}
          </div>
        </td>
        <td>
          <span [ngSwitch]="data?.status">
            <span *ngSwitchCase="4">
              <nz-tag nzColor="success">{{data?.status | LoginStatus}}</nz-tag>
            </span>
            <span *ngSwitchCase="5">
              <nz-tag nzColor="error">{{data?.status | LoginStatus}}</nz-tag>
            </span>
            <span *ngSwitchCase="6">
              <nz-tag nzColor="warning">{{data?.status | LoginStatus}}</nz-tag>
            </span>
            <span *ngSwitchDefault> {{data?.status | LoginStatus}}</span>
          </span>
          <button appClickStop *ngIf="data.status === 4 || data.status === 5" nz-button nzType="link" nzSize="small"
            (click)="handleOpenModal('open_result',data)">查看</button></td>
        <td>
          <div *ngIf="data?.endTime">
            {{data?.endTime * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}
          </div>
        </td>
        <td class="operation-btn">
          <button appClickStop *ngIf="handleIsEdit(data)" nz-button nzType="primary"
            (click)="handleOpenModal('open_edit',data)" nzSize="small">修改</button>
          <button appClickStop nz-button nzType="primary" (click)="handleOpenModal('open_copy',data)"
            nzSize="small">复制</button>
          <button appClickStop *ngIf="data.status === 0; else pauseTem" nz-button class="ant-btn-warning"
            (click)="handleExecuteTask(data.id)" nzSize="small">执行</button>
          <ng-template #pauseTem>
            <button *ngIf="data.status === 1" nz-button class="ant-btn-warning" (click)="pauseTask(data.id)"
              nzSize="small">暂停</button>
          </ng-template>
          <button appClickStop *ngIf="handleIsRun(data)" nz-button class="ant-btn-warning"
            (click)="handleRunTask(data.id)" nzSize="small">重新运行</button>
          <button appClickStop *ngIf="handleIsClose(data)" nz-button nzType="danger" nz-popconfirm
            nzPopconfirmTitle="是否取消该任务" (nzOnConfirm)="closeTask(data.id)" nzSize="small">取消</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<ng-template #tableTitle>
  <div class="refresh">
    <span>
      <span>自动刷新：</span>
      <nz-switch nzCheckedChildren="开" nzUnCheckedChildren="关" [(ngModel)]="refresh"
        (ngModelChange)="handleRefreshChange($event)">
      </nz-switch>
    </span>
    <span>
      <button nz-button nzType="link" (click)="getData()">刷新</button>
    </span>
  </div>
</ng-template>

<ng-template #tableFooter>
  <span class="table-footer">
    <span class="td-checked" (click)="handleAllChange()">
      <span class="label-task"><label nz-checkbox [(ngModel)]="exportAll">选择全部</label></span>
      <span class="td-mask">
      </span>
    </span>
    <span>(总共{{data?data?.total: 0}}条)</span><button nz-button nzType="link"
      (click)="handleExportTask()">导出选中任务</button>(已选中{{checkData.length}}条)
  </span>
</ng-template>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="visible" [nzOkText]='null' (nzOnCancel)="onCancel()"
  [nzCancelText]="null" [nzFooter]="null" nzWidth="705px">
  <div [ngSwitch]="modalKey">
    <ng-container *ngFor="let key of ['open_add', 'open_edit', 'open_adds', 'open_copy']">
      <ng-container *ngSwitchCase="key">
        <app-add [formConfig]="formConfig" [taskTypeTable]="taskTypeTable" [parentKey]="modalKey" [data]="eidtData">
        </app-add>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'open_export'">
      <app-export-data [formConfig]="formConfig"></app-export-data>
    </ng-container>
    <ng-container *ngSwitchCase="'open_result'">
      <h2>查看任务运行详情</h2>
      <pre>{{ getResult }}</pre>
      <div class="footer">
        <button nz-button nzType="primary" (click)="onCancel()">确定</button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'open_time'">
      <h2>设置自动刷新时间</h2>
      <nz-form-item>
        <nz-form-label [nzSpan]="12">请设置自动刷新时间</nz-form-label>
        <nz-form-control nzSpan="12">
          <nz-input-number [(ngModel)]="refreshTime" [nzMin]="1" [nzStep]="1">
          </nz-input-number>秒
        </nz-form-control>
      </nz-form-item>
      <div class="footer">
        <button nz-button nzType="primary" (click)="handleSetInterval()">确定</button>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div></div>
    </ng-container>
  </div>
</nz-modal>
