<h2>剧本详情</h2>
<div class="comment-detail">
  <nz-form-item>
    <nz-form-label nzSpan="3">剧本名称</nz-form-label>
    <nz-form-control nzSpan="8">
      <nz-form-text>{{selectItem?.name}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <div>
    <nz-form-item>
      <nz-form-label nzSpan="3">剧本预览</nz-form-label>
      <nz-form-control nzSpan="21">
        <nz-form-text>
          <strong>角色数：{{selectItem?.characterNumber}}；</strong>
          <strong> 发言：{{selectItem?.commentNumber}}；</strong>
          <strong>总时长：{{selectItem?.totalTime | dyFormattingTime}}</strong>
        </nz-form-text>
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-table #basicTable [nzData]="data?.arr" [nzFrontPagination]="false" [nzTotal]="data?.total"
    (nzPageIndexChange)="handlePageIndexChange($event)">
    <thead>
      <tr>
        <th>角色名</th>
        <th>发言时间</th>
        <th>发言内容</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data?.characterName}}</td>
        <td>{{data?.relativeTime | dyFormattingTime}}</td>
        <td>{{data?.content}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
