<div class="card-item">
  <nz-card [nzTitle]="titleTemp" [nzExtra]="extraTemplate">
    <div class="input">
      <h5>输入参数</h5>
      <ng-container *ngFor="let item of data.inputTags;let i = index">
        <nz-badge [nzShowDot]="!!color(item)" [nzStyle]='{backgroundColor:color(item)?.color}' [nzCount]="item?.queue">
          <nz-tag [ngStyle]="{'border-color': color(item)?.color, 'color':color(item)?.color }"
            [ngClass]="{'bg': color(item)}" (click)="handleTagClick(item,'inputTags', i)">
            {{item.newName?item.newName: item.oldName}} <span (click)="handleEdit($event, i)"><i nz-icon nzType="edit"
                nzTheme="outline"></i></span>
          </nz-tag>
        </nz-badge>
        <!-- <app-tag [data]="item" [actionInex]="index"></app-tag> -->
      </ng-container>
    </div>
    <div class="output">
      <h5>输出参数</h5>
      <ng-container *ngFor="let item of data.outputTags; let i = index">
        <nz-badge [nzShowDot]="!!color(item)" [nzStyle]='{backgroundColor:color(item)?.color}' [nzCount]="item?.queue">
          <nz-tag [ngStyle]="{'border-color': color(item)?.color, 'color':color(item)?.color }"
            [ngClass]="{'bg': color(item)}" (click)="handleTagClick(item, 'outputTags', i)">
            {{item.newName?item.newName: item.oldName}}
          </nz-tag>
        </nz-badge>
        <!-- <ng-container *ngFor="let item of data.outputTags; let i = index">
        <app-tag [data]="item" [actionInex]="index"></app-tag>
      </ng-container> -->
      </ng-container>
    </div>
  </nz-card>
  <ng-template #extraTemplate>
    <a (click)="handleDel()">删除</a>
  </ng-template>
  <ng-template #titleTemp>
    <span>action{{index+1}}: {{data.name}}</span>
  </ng-template>
</div>
