<h2>
  <div [ngSwitch]="parentKey">
    <div *ngSwitchCase="'open_add'">新建任务</div>
    <div *ngSwitchCase="'open_adds'">批量新建任务</div>
    <div *ngSwitchCase="'open_edit'">修改任务</div>
    <div *ngSwitchCase="'open_copy'">复制任务</div>
  </div>
</h2>
<nz-steps [nzCurrent]="current" *ngIf="isAdd">
  <nz-step nzTitle="请选择要执行的任务"></nz-step>
  <nz-step nzTitle="填写执行任务详情"></nz-step>
</nz-steps>

<div class="steps-content">
  <!-- 任务选择表格 -->
  <div *ngIf="current === 0 && isAdd">
    <app-task-tpe [taskTypeTable]="taskTypeTable"></app-task-tpe>
  </div>
  <!-- 任务参数填写表格 -->
  <div *ngIf="current === 1">
    <form nz-form [formGroup]="formGroup">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>任务类型</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <div nz-row class="device">
            <div nz-col [nzSpan]="16">
              <span>{{taskTypeCheck? taskTypeCheck?.name: formConfig?.name }}</span>
            </div>
            <button *ngIf="isAdd" nz-col nz-button [nzType]="'primary'" (click)="handlePre()">选择</button>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" [nzRequired]="nameRequired">任务名</nz-form-label>
        <nz-form-control [nzSpan]="9" nzErrorTip="请输入任务名">
          <input nz-input formControlName="name" placeholder="请输入任务名">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>选择设备</nz-form-label>
        <nz-form-control [nzSpan]="9" nzErrorTip="最少选择一台设备">
          <div nz-row class="device">
            <div nz-col [nzSpan]="16">
              <ng-container *ngIf="checkedDeviceNumber != 1;else deviceTem">{{checkedDeviceNumber}}台</ng-container>
              <ng-template #deviceTem>
                {{bindDeviceIds[0].name}}
              </ng-template>
            </div>
            <button nz-col nz-button [nzType]="'primary'" (click)="handleOpenModal('open_device')">选择</button>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>执行方式</nz-form-label>
        <nz-form-control [nzSpan]="9" nzErrorTip="请选择执行方式">
          <nz-select nzAllowClear formControlName="executeMethod" nzPlaceHolder="请选择执行方式"
            (ngModelChange)="handleExecuteChange($event)">
            <nz-option *ngFor="let i of executeMethodArr" [nzValue]="i.key" [nzLabel]="i.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="scheduledTimeCode">
        <nz-form-label [nzSpan]="8" nzRequired>执行时间</nz-form-label>
        <nz-form-control [nzSpan]="9" [nzErrorTip]="dateErrorTip">
          <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzPlaceHolder="请选择执行时间"
            formControlName="scheduledTime">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </form>
    <app-input-tpe [paras]="formConfig?.paras" [data]="data?.paras" [isAdds]="isAdds"
      (batchChange)="batchChange($event)">
    </app-input-tpe>
  </div>
</div>

<div [ngSwitch]="parentKey">
  <div *ngSwitchCase="'open_add'">
    <div class="footer" *ngIf="current === 1">
      <button nz-button nzType="dashed" (click)="handlePre()">上一步</button>
      <button nz-button nzType="primary" (click)="submitForm()">添加</button>
    </div>
  </div>
  <div *ngSwitchCase="'open_adds'">
    <div *ngIf="current === 1">
      <ng-template *ngTemplateOutlet="elseTem"></ng-template>
    </div>
  </div>
  <div *ngSwitchCase="'open_edit'">
    <div class="footer">
      <button nz-button nzType="primary" (click)="submitForm()">修改</button>
    </div>
  </div>
  <div *ngSwitchCase="'open_copy'">
    <div class="footer" *ngIf="!isBatch; else elseTem">
      <button nz-button nzType="primary" (click)="submitForm()">复制</button>
    </div>
  </div>
</div>

<ng-template #elseTem>
  <div class="footer">
    <button nz-button nzType="dashed" (click)="handleGenTem()">下载模板</button>
    <div class="shade">
      <nz-upload nzAccept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        [nzBeforeUpload]="onBeforeUpload">
        <button nz-button class="ant-btn-success"><i nz-icon nzType="upload"></i><span>上传文件</span></button>
      </nz-upload>
      <div class="shade-top" *ngIf="!(formGroup?.valid && subformValid && bindDeviceIds && bindDeviceIds.length > 0)"
        (click)="handleExamine()"></div>
    </div>
  </div>
</ng-template>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="visible" [nzOkText]='null' (nzOnCancel)="onCancel()"
  [nzCancelText]="null" [nzFooter]="null" nzWidth="700px">
  <ng-container [ngSwitch]="modalKey">
    <div *ngSwitchCase="'open_device'">
      <app-device [device]="bindDeviceIds"></app-device>
    </div>
    <div *ngSwitchCase="'adds_detail'">
      <app-adds-detail [data]="parseExcelRes" [params]="formGroup.value" [device]="bindDeviceIds" [subform]="subform"
        [taskTypeName]="taskTypeCheck?.name">
      </app-adds-detail>
    </div>
    <div *ngSwitchDefault>
      <div></div>
    </div>
  </ng-container>
</nz-modal>
